@* @page "/movies" *@
@page
@model RazorPagesPratica.Pages.MoviesModel
@{
}

<!DOCTYPE html>
<html>
    <head>
        <title>Movies</title>
    </head>
    <body>
        <h1> Movies page</h1>
    </body>
</html>